{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "tsconfigRootDir": "."
  },
  "rules": {
    "quotes": ["error", "single"],
    // force semicolons
    "semi": ["error", "always"],
    // 2 spaces to indent the code
    "indent": ["error", 2],
    // to avoid extraneous spaces
    "no-multi-spaces": ["error"],
    "linebreak-style": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}